<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="content1">
      <div class="d-flex justify-content-center align-content-center mt-3">
        <h2> test Activité Pratique 2 : DevOps & Virtualisation & Conteneurisation & Cloud  Computing & Big Data</h2>
      </div>
      <div class="m-3 ">
          <p> <h3>Réalisé par : </h3></p>
          <h5>  Hamza Belkhadir</h5>
          <h5>  Ghizlane Merzagui</h5>
          <h5>  Wissal Laassiri</h5>

      </div>
  </div>
</body>
</html>
